# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
outputs/*
!outputs/.gitkeep
data/*
!data/.gitkeep 